// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #090a0b !default;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$blue: #30569dd1 !default;
$indigo: #504080dd !default;
$purple: #704080dd !default;
$pink: #d86481dd !default;
$red: #a02241dd !default;
$orange: #b3380fdd !default;
$yellow: #c29100dd !default;
$green: #478040dd !default;
$teal: #307991dd !default;
$cyan: #4fadb0dd !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-500,
    "gray-dark": $gray-800,
  ),
  $colors
);

$primary: hsl(165, 33%, 38%) !default;
$primary-1: hsl(165, 33%, 48%) !default;
$primary-2: hsl(164, 33%, 68%) !default;
$primary-3: hsl(165, 33%, 88%) !default;
$primary-a: hsl(165, 53%, 38%) !default;
$focus: hsl(165, 33%, 58%) !default;

$base: hsl(165, 33%, 23%) !default;
$base-a: hsla(165, 33%, 23%, 0.5) !default;

$border-1: $primary-3 !default;

$background-1: $primary-3 !default;
$background-2: hsla(165, 32%, 83%, 0.4) !default;
$background-3: hsla(45, 100%, 38%, 0.3) !default;

$secondary: hsl(293, 25%, 40%) !default;
$secondary-a: hsla(293, 25%, 40%, 0.8) !default;
$secondary-b: hsla(293, 25%, 40%, 0.65) !default;
$secondary-1: hsl(294, 25%, 50%) !default;
$secondary-2: hsl(293, 25%, 70%) !default;
$secondary-3: hsl(300, 23%, 90%) !default;

$color-links: hsl(294, 55%, 40%) !default;
$notas: hsl(294, 55%, 40%) !default;

$success: #478040b3 !default;
$info: #4fadb0b3 !default;
$warning: #c29100b3 !default;
$danger: #a02241b3 !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$flacso: hsl(216, 51%, 20%) !default;
$flacso-1: hsl(216, 51%, 30%) !default;
$flacso-2: hsl(216, 51%, 50%) !default;
$flacso-3: hsl(216, 51%, 80%) !default;
$flacso-4: hsla(216, 51%, 40%, 0.82) !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
  ),
  $theme-colors
);

$activity-icon-administration-bg: $teal !default;
$activity-icon-assessment-bg: $green !default;
$activity-icon-collaboration-bg: $orange !default;
$activity-icon-communication-bg: $yellow !default;
$activity-icon-content-bg: $blue !default;
$activity-icon-interface-bg: $indigo !default;

$activity-icon-colors: () !default;
$activity-icon-colors: map-merge(
  (
    "administration": $activity-icon-administration-bg,
    "assessment": $activity-icon-assessment-bg,
    "collaboration": $activity-icon-collaboration-bg,
    "communication": $activity-icon-communication-bg,
    "content": $activity-icon-content-bg,
    "interface": $activity-icon-interface-bg,
  ),
  $activity-icon-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

$yiq-contrasted-threshold: 190 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Roboto", system-ui, sans-serif !default;
$font-family-serif: "Roboto Serif", serif !default;
$font-family-monospace: "Roboto Mono", ui-monospace, monospace !default;
$font-family-condensed: "Roboto Condensed", system-ui, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$headings-font-family: "Roboto Slab", system-ui, sans-serif !default;
$headings-color: $primary !default;

$text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) !default;

// Fonts
$rfs-base-font-size: 0.9em !default;
$headings-font-weight: 400 !default;

// Tables

$table-border-color: rgba(0, 0, 0, 0.1) !default;

// Buttons

$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 1.1rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: 1em !default;
$btn-font-size-sm: 0.8rem !default;

$btn-border-radius: 3px !default;
$btn-border-radius-lg: 3px !default;
$btn-border-radius-sm: 3px !default;

// Navbar
$navbar-dark-color: rgba($white, 0.6) !default;
