<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76632345-1', 'auto');
  ga('send', 'pageview');

</script>

{{!
}}


<footer id="page-footer" class="py-3 text-light nova-foot" style="background-color:#fff;" aria-label="Footer del sitio"> 
  <div class="container-fluid">
    <div id="course-footer">
     {{{ output.course_footer }}} 
    </div>
    <div class="links clearfix">
      <div class="some-page-wrapper5">
        <div class="row large">
          <div class="column3">
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}ingresantes/">Perfiles</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}institucional/">Institucional</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}formacion/"> Formación</a></div>
            </div>
          </div>
 
          <div class="column3">
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}investigacion/"> Investigación</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}cooperacion/">Cooperación</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}biblioteca/"> Biblioteca</a></div>
            </div>
          </div>

          <div class="column3">
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}publicaciones/">Publicaciones</a></div>
            </div>
            <div class="column3">
              <div class="columnnuevo"><a href="{{{ flacso_url }}}noticias/">Noticias</a></div>
            </div>
            <div class="column3">
              <div  class="columnnuevo last" style="text-align: center; word-break: keep-all;"><a href="{{{ flacso_url }}}consultas/">Consultas</a></div>
            </div>
          </div>
        </div>
         </div>
        <div class="row large">
          <div class="column3">
            <div class="columnnuevo"><a href="{{{ flacso_url }}}calendario/"> CALENDARIO</a></div>
          </div>
          <div class="column3">
            <div class="columnnuevo"><a href="{{{ flacso_url }}}producciones-audiovisuales/"> PRODUCCIONES AUDIOVISUALES</a></div>
          </div>
          <div class="column3">
            <div  class="columnnuevo last" style="text-align: center; word-break: keep-all;"><a href="{{{ flacso_url }}}institucional/flacsovirtual"> FLACSO VIRTUAL</a></div>
          </div>
        </div>

      <div class="adres2">
      </div>

      <div class="adres">
        <div class="social" aria-label="Redes sociales">
          <a class="red insta" aria-label="Instagram" href="http://instagram.com/flacsoargentina"></a>
          <a class="red face" aria-label="Facebook" href="http://facebook.com/flacsoarg"></a>
          <a class="red twi" aria-label="Twitter" href="http://twitter.com/FLACSOARGENTINA"></a>
          <a class="red reddelinkedin" aria-label="Linkedin" href="http://linkedin.com/groups/FLACSO-Argentina-sitio-oficial-4508806?goback=.anp_4508806_1343157289546_1"></a>
          <a class="red youtube" aria-label="Youtube" href="http://youtube.com/user/FLACSOArgentina"></a>
          <a class="red cloud" aria-label="Soundcloud" href="https://soundcloud.com/flacsoargentina"></a>
        </div>
        <div class="detail">
          <small class="facultad"><p><a href="https://flacso.org.ar">www.flacso.org.ar</a><br>Facultad Latinoamericana 
          <br>de Ciencias Sociales <br>
            SEDE ARGENTINA</p>
           
          </small>
          <small>
          <p>
            Tucumán 1966 (C1050AAN)<br>
            Ciudad Autónoma de <br>
            Buenos Aires, Argentina<br>
            +54 11 52389300
            </p>
          </small>
        </div>
      </div> 
    </div>
    {{{ output.standard_footer_html }}}
    {{{ output.standard_end_of_body_html }}}
  </div>

</footer>

{{#js}}

// Imprimir en foros
if ( $('#page-mod-forum-discuss')){
    var container = $('#page-mod-forum-discuss .discussionsubscription');
    var imprimir = '<a onclick="window.print();return false;" class="forum_no_print printicon" href="#">Imprimir</a>';
    container.append(imprimir);
}

// Tooltip
require(['jquery','theme_gflacso_new/jquery.bootstrap-tooltip'], function($) {
    $('.linkpop').tooltip({placement:'right',delay: { show: 1000000, hide: 1 }});
});

// Imprimir en BOOK
if ( $('#page-mod-book-view')){
    var container = $("#page-mod-book-view .block-region .block.block__fake div[class^='book_toc_']");
    var links = $('#region-main-settings-menu .action-menu.moodle-actionmenu .dropdown-menu .dropdown-item:nth-last-child(-n+5)');
    console.log('links',links);
    container.append('<br><br><div class="print_links"></div>');
    links.each(function(index,element){
    console.log(element);
      container.find('.print_links').append($(element).children().clone());
    });
}
{{/js}}